<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <title>Document</title>

</head>

<body>
    <div>
        <ul class="nav bg-primary">
            <!--nav-->
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link active text-light" href="#">OP.GG</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" href="#">|</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" href="#">배틀그라운드</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" href="#">클래시 로얄</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" href="#">포트나이트</a>
                </li>
            </ul>
    </div>


    <!--Navbar-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">홈</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">챔피언 분석 <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">통계</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">랭킹</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">프로관전</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">커뮤니티</a>
                </li>
            </ul>
        </div>
    </nav>

    <div>
        <form action="/opgg_result" target="_blank">
            <input type="text" name="username">
            <input type="submit" value="search" />
        </form>
    </div>

</body>

</html>
