{% extends 'base.html' %} {% load static %} {% block title %}MySite{% endblock %} {% block css %}
<link rel="stylesheet" href="{% static 'detail/stylesheets/stylesheet.css' %}" type="text/css" /> {% endblock %} {% block body %}
<div class="container">
    <div class="row">
        <div class="col-6">
            <img src="{% static 'detail/images/123.jpg' %}" class="card-img-top" alt="user_image">

        </div>
        <form class="col-6">
            <div class='container'>
                <h2 class="py-3 d-flex justify-content-center">Sign Up</h2>
                <div class="form-row">
                    <div class='container-fluid'>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Email address</label>
                            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                        </div>
                        <div class="form-group">
                            <label for="text">Name</label>
                            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Password</label>
                            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Password Confirm</label>
                            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}
